<mat-sidenav-container class="example-container">
    <mat-sidenav [permanentAt]="991" #sidenav mode="side" (openedStart)="onOpen()" opened="true" closed="false" id="sidenav"
        fixedInViewport="true" fixedTopGap="60">
        <app-side-bar [isOpen]="productService.isSideNavOpened.value !== true" (close)="sidenav.toggle()"></app-side-bar>

    </mat-sidenav>

    <mat-sidenav-content class="min-vh-100">
        <main class="m-2">
            <div>
                <button *ngIf="productService.isSideNavOpened.value !== true" (click)="sidenav.toggle()">toggle</button>
                <div class="row">
                    <div class="col-md-9">
                        <app-carousal></app-carousal>
                    </div>
                    <div class="col-md-3">
                        <div class="card d-md-none d-md-block d-sm-none d-md-block ">
                            <img class="card-img-top" src="https://dummyimage.com/250x180/b9d4ca/121114&text=modal" alt="Card image cap">
                            <div class="card-body">
                                <!-- <h4 class="card-title">Card title</h4> -->
                                <p class="card-text">
                                    Some quick example text to build on the card title
                                    and make up the bulk of the card's content.
                                </p>
                                <a class="btn btn-primary">Check Pincode</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </mat-sidenav-content>
</mat-sidenav-container>