.container {
    max-width: 525px;
}

form.container{
    max-width: 390px;
}

main{
    align-content: center;
    align-items: center;
}

#form-div{
    align-content: center;
    align-items: center;
}