nav {
    background-color: #3aa8c1 !important;
}

a {
    cursor: pointer;
}

.nav-link {
    color: aliceblue !important;
}



input.search {
    align-self: center;
    width: 50vw !important;
}





a, #search-icon {
    cursor: pointer;
}

#search-icon{
    margin-left: -18px;
    height: 15px !important;
}

#icon-btn{
    margin-left: -8px;
    height: 37.5px !important;
}

ul{
    position: static;
    right: 10;
    float: inline-end;
}


@media (max-width:992px){
    #form-div{
        width: 55vw;
    }
}
#form-div{
    width: auto;
}

@media (max-width:500px){
    #form-div{
        width: 75vw;
        margin-right:0 ;
        margin-left:0 ;
    }

}
