nav {
    background-color: #3aa8c1 !important;
}

a {
    cursor: pointer;
}

.nav-link {
    color: aliceblue !important;
}

form.search {
    margin-right: auto;
    margin-left: auto;
    display: inline;
}

#form-div {
    margin-right: auto;
    margin-left: 0;
}

input.search {
    align-self: center;
    width: 50vw !important;
}

#category-dropdown, #search-div, #search-icon {
    display: inline-block;
}

a, #search-icon {
    cursor: pointer;
}

#search-icon{
    margin-left: -8px;
    height: 15px !important;
}

#icon-btn{
    height: 37.5px !important;
}

ul{
    position: static;
    right: 10;
}