<main class="d-flex align-self-center align-items-center min-vh-100 text-center">
    <div class="container">
        <div class="justify-content-center">
            <div class="mb-4">
                <img src="https://www.bootstrapdash.com/demo/login-template-free-2/assets/images/logo.svg" alt="logo"
                   >
            </div>
        </div>
        <div class="text-center mb-4">
            <h2>Password Reset Request</h2>
            <p>Enter your email address or registered mobile number in the space below and we will mail you the password
                reset instructions</p>
        </div>
        <div id="form-div" class="justify-content-center">
            <form class="container">
                <div class="form-group text-center justify-content-center">
                    <input class="form-control" type="text" placeholder="Registered Email/Mobile">
                </div>
            </form>
        </div>
        <div class="text-center row justify-content-center">
            <button type="button" class="btn btn-primary m-1 px-5">Request</button>
            <button type="button" class="btn  btn-outline-primary m-1 px-4" routerLink="/auth/signin" >Back to Sign In</button>
        </div>
    </div>

</main>